/* Fuentes y colores */
@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); /* Fuente retro */

/* Estilos generales */
body {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--color-background);
}
/* aaa */

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 60px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
    background-image: url("src/image/moon.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateY(-26px);
    background-image: url("src/image/sun.png");
}

h1 {
    text-align: center;
    color: var(--color-text-h1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 50px;
    font-weight: bold;
}

/* Menú */
.menuContainer {
    position: absolute;
    top: 20px;
    right: 20px;
}

.menuContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.menuContainer ul li {
    margin: 5px;
    padding: 10px 15px;
    background-color: var(--color-button);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.menuContainer ul li:hover {
    background-color: var(--color-button-hover);
}

.menuContainer ul li a {
    text-decoration: none;
    color: var(--color-button-text);
    font-weight: bold;
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5; 
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 5px;
    width: 35px;
    height: 35px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--color-button-text);
    margin: 4px 0;
    transition: 0.3s ease-in-out;
}

/* Menú desplegable */
.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background: var(--color-primary);
    padding: 10px;
    width: 150px;
    z-index: 9; 
    border-radius: 5px;
}

.menu.active {
    display: block;
}

/* Contenido principal */
#programs, #planning-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px; 
}

.program, .planning-content {
    background: var(--color-secondary);
    flex: 1 1 calc(50% - 20px);
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.program h2, .planning-content h2 {
    color: var(--color-text-h2);
}

.program p, .planning-content p {
    color: var(--color-text);
}

/* Botones y formularios */
button {
    font-family: "Orbitron", sans-serif;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 25%;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px #0056b3;
}

#planning, #fecha {
    font-family: "Orbitron", sans-serif;
    padding: 10px;
    font-size: 14px;
    border: 2px solid var(--color-button);
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 200px; 
    box-sizing: border-box;
}

#planning:hover, #fecha:hover {
    border-color: var(--color-button-hover);
}

#planning:focus, #fecha:focus {
    outline: none;
    border-color: var(--color-text-h1);
    box-shadow: 0 0 5px var(--color-text-h1);
}

.tab-content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

/* Contenedores de filtros y botones de navegación */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.filters-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}


/* Media Queries */
@media (max-width: 650px) {
    body {
        padding: 10px;
    }

    #programs {
        padding: 0 20px; 
        justify-content: center;
    }

    .program {
        flex: 1 1 100%; 
        max-width: 100%; 
        margin-bottom: 20px;
    }

    button {
        padding: 10px 15px;
        font-size: 14px; 
        width: 100%; 
    }

    .menuContainer {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--color-background);
        width: 200px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 50px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .menuContainer ul {
        flex-direction: column;
        width: 80%;
        align-items: center;
        gap: 15px;
    }

    .menuContainer ul li {
        width: 100%;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }

    .dark-mode .hamburger {
        background-color: var(--color-secondary); /* Fondo oscuro en modo oscuro */
    }

    .menuContainer.active {
        transform: translateX(0);
    }

    .filters-container {
        align-items: center; 
    }

    h1 {
        font-size: 30px;
    }
}

@media (min-width: 650px) {
    .hamburger {
        display: none !important;
    }
}